.cards {
    padding: 40px 0;
    background: #F3EBE1;
    
    @media (min-width: 768px) {
        padding: 50px 0;
    }
    @media (min-width: 1024px) {
        padding: 80px 0;
    }

    &__text {
        text-align: center;
        padding-bottom: 25px;

        @media (min-width: 768px) {
            padding-bottom: 40px;
        }  
        @media (min-width: 1024px) {
            padding-bottom: 70px;
        }
    }

    &__link-wrapper {
        margin-top: 30px;
        padding: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (min-width: 1024px) {
            padding: 0 50px;
        }
    }

    &__link {
        text-align: center;
        width: 50%;
        max-width: 350px;
        background-color: white;
        padding: 10px 5px;
        color: #212353;
        letter-spacing: 2px;
    }

    &__link:active {
        transform: scale(0.9);
    }

    .slick-track {
        display: flex;
        padding-top: 23px;
        padding-bottom: 8px;
    }

    .slick-slide {
        padding-left: 10px;
        display: flex;
        height: inherit;
        @media (min-width: 768px) {
            padding-left: 15px;
        }

        div {
            display: flex;
        }
    }
}