.footer {
    background: #F3EBE1;
   
    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px 10px;
        @media (min-width: 768px) {
            padding: 40px 10px;
        }
    }

    &__flex {
        display: flex;
        flex-direction: column;
        gap: 10px;

        @media (min-width: 1024px) {
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    }

    &__adress {
        font-family: 'Montserrat', sans-serif;
        @media (min-width: 1024px) {
            margin-left: auto;
            margin-right: 20px;
        }
        h5 {
            text-align: center;
            font-size: 16px;
        }
    }

    &__contact {
        display: flex;
        justify-content: center;
        gap: 20px;
        @media (min-width: 768px) {
            gap: 40px;
        }
        @media (min-width: 1024px) {
            margin-left: 50%;
            transform: translate(-50%, 0px);
        }
        
        &_link {
            display: block;
            width: 48px;
            height: 48px;
            position: relative;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        list-style: none;
        text-align: center;
        @media (min-width: 1024px) {
            gap: 40px;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    }

    &__item {
        padding: 10px 0;
    }

    &__item:not(:last-child) {
        border-bottom: 2px solid #eb54d961;
        @media (min-width: 1024px) {
            border-bottom: none;
        }
    }

    &__created {
        display: block;
        text-align: center;
        background-color: white;
        padding: 10px 0;

        h5 {
            font-size: 14px;
            text-transform: none;
            span {
                text-transform: uppercase;
            }
        }
    }
}