@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

.container {
    padding: 0 10px;
    margin: 0 auto;
}

.scroll {
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #212353;
    line-height: 150%;
    font-weight: 600;
}

h2 {
    font-size: 30px;
}

p {
    color: #4B5D68;
    font-size: 15px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
}

ul {
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #212353;
    text-transform: uppercase;
    text-decoration: none;
}

@media (min-width: 768px) {
    h2 {
        font-size: 34px;
    }

    p {
        font-size: 18px;
        line-height: 24px;
    }

    a {
        font-size: 18px;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateX(-400px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

.page {
    position: absolute;
    
}

.page-enter-active {
    animation: fade-in 1s forwards;
}

.page-exit-active {
    animation: fade-out 1s forwards;
    
}